body {
    background-color: #8B5A2B; /* Marrom - templos gregos */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

header {
    background-color: #D4AF37; /* Dourado - Olimpo */
    color: white;
    padding: 25px;
}

h1 {
    font-size: 48px;
    color: #8B0000; /* Vermelho escuro - Hades */
    margin: 10px;
}

h2 {
    font-size: 30px;
    color: #8B0000;
    margin-top: 20px;
}

p {
    font-size: 18px;
    color: #333333;
    line-height: 1.6;
}

main {
    background-color: #F5E6C8;
    margin: 30px;
    padding: 25px;
    border-radius: 20px; /* Cantos arredondados */
}

.principal {
    width: 80%;
    max-width: 800px;
    border-radius: 20px;
    margin: 20px 0;
}

.galeria img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
    border-radius: 15px;
}

img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

button {
    background-color: #8B0000;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    margin-top: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    background-color: #B22222;
    transform: scale(1.08);
    transition: 0.3s;
}

footer {
    background-color: #D4AF37;
    color: white;
    padding: 15px;
    margin-top: 20px;
}